<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="IDDVisitas" connectionString="Data Source = schi-sqle1zem\sqlexpress;Initial Catalog =ZCUU_IDD_Visitas; Persist Security Info=True;user ID=zcuu_mp9;password=Mp9Acces0"
      providerName="System.Data.SqlClient" />
    <add name="ZCUU_SSH_ConcesionesConnectionString" connectionString="Data Source=schi-sqle1zem\sqlexpress;Initial Catalog=ZCUU_IDD_Visitas;Persist Security Info=True;User ID=zcuu_mp9;Password=Mp9Acces0"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
    <sessionState mode="InProc" timeout="480"/>
  </system.web>
  <system.codedom>
    <compilers>

    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="servicioRHSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://schi-iis1zem/hr/serviciorh.asmx" binding="basicHttpBinding"
        bindingConfiguration="servicioRHSoap" contract="ServiceYG.servicioRHSoap"
        name="servicioRHSoap" />
    </client>
  </system.serviceModel>
</configuration>
